body {
    margin: 0;    
}

.task2 {
    max-width: 1440px;
    width: 100%;
    padding: 64px 35.5px;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0 auto;
}

.task2-header {
    text-align: center;
}

.task2-header > h3 {
    font-family: Barlow Condensed;
    font-size: 36px;
    font-weight: 600;
    line-height: 39.6px;
    text-align: center;
    margin: 0;
}

.task2-header > p {
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.task2-header > button {
    font-family: 'Barlow Condensed';
    font-weight: 600;
    font-size: 18px;
    line-height: 23.4px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding: 0;
    cursor: pointer;
}

.task2-recipes {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 25px;
    margin-top: 64px;
    flex-wrap: wrap;
}

.task2-recipe {
    max-width: 360px;
    width: 100%;
}

.task2-img-box {
    position: relative;
}

.task2-main-img {
    border-radius: 50%;
    width: 100%;
}

.img-p-1 {
    position: absolute;
    left: -135px;
    top: -45px;
    z-index: -1;
}
.img-p-2 {
    position: absolute;
    left: -90px;
    bottom: -60px;
    z-index: -1;
}
.img-p-3 {
    position: absolute;
    top: -35px;
    right: -60px;
    z-index: -1;
}
.img-p-4 {
    position: absolute;
    bottom: -60px;
    right: -60px;
    z-index: -1;
}

.task2-recipe-title {
    font-family: Barlow Condensed;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .task2-recipes {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .task2 {
        padding: 64px;
    }

    .task2-header > h3 {    
        font-size: 54px;
        line-height: 59.4px;
    }

    .task2-header > p {
        font-size: 24px;
        line-height: 31.2px;
    }

    .task2-header > button {
        font-size: 20px;
    }

    .task2-recipe-title {
        font-size: 36px;
        line-height: 39.6px;
    }
}